<!DOCTYPE html>
<html>
<head>
  <style>
    body { 
           margin-left: 30%;
           background-color: ivory; 
         }
  </style>
</head>

<body>
  <form action="" enctype="multipart/form-data" method="post">
    <input type="title" name="title" placeholder="Title for image"> <br> <br>
    <textarea name="description" placeholder="Description for our image" rows="3" cols="20"></textarea><br><br>
    <input type="file" name="image">
    <button type="submit" value="Upload" <a href="/home"> Upload </a> </button>
  </form>
</body>
</html>