<!DOCTYPE html>
<html>
<head>
  <style>
    body { 
            margin-left: 30%;
            background-color: ivory; 
          }
    #mytitle
      {
        margin: 10px 0 2px 0;
        font-weight: bold;
        font-size: 18px;
        font-family: Serif;
      }
  </style>
</head>
<body>
  <button style="position: absolute; left: 30px;"> <a href="/post"> upload post </a> </button>
  <button style="position: absolute; right: 100px;"> <a href= '/myposts'> My Posts </a> </button>
  <button style="position: absolute; right: 30px;"> <a href= '/logout'> Logout </a> </button> <br>

  <% Posts.forEach(function(Post){ %>
    <div>
      <p id = "mytitle"> <%= Post.title%> </p>
      <a target="_blank" href= "/post/<%= Post._id %>" >  <img  src= <%= Post.photoUrl %> width = '250' height = '300'/>  </a>
    </div>
  <% }); %>

</body>
</html>
