<!DOCTYPE html>
<html>
<head>
  <style>
    body { 
            margin-left: 30%;
            background-color: ivory; 
          }
    #mytitle
      {
        margin: -19px 0 2px 0;
        font-weight: bold;
        font-size: 18px;
        font-family: Serif;
      }
    #mydelete
      {
        margin: 10px 0 -150px 195px;
      }
  </style>
</head>
<body>
  <% userPosts.forEach(function(eachPost){ %>
    <div>
      <button id = "mydelete" > <a href= '/post/<%=eachPost._id%>/delete' > Delete </a> </button>
      <p id = "mytitle"> <%= eachPost.title%> </p>
      <img  src= <%= eachPost.photoUrl %> width = '250' height = '300'> 
    </div>
  <% }); %>
</body>
</html>
