<!DOCTYPE html>
<html>
    <head>
        <title>Dummy Instagram</title>
        <style>
          body    { vertical-align:middle; text-align:center; background-color: #e0e7e8;}
        </style>
    </head>
<body>
      <h1>  Register for our Dummy Instagram  </h1>
<form method="POST" id="" action="/signup">
   <div>
        <label for="username"> Username:</label>
        <input type="text" id="username" name="username" >
    </div><br>
    <div>
        <label for="pword">Password:</label>
        <input type="password" id="pword" name="password" >
    </div><br>
    <div>
        <button type="submit" value="Submit"> Sign Up </button>
    </div>

</form>
</body>
</html>
